body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    height: 4em;
    background-color: #5359FF;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
}


/*
* Task Page
*/


span.task-text {
    padding: 10px;
    cursor: pointer;
}

span.task-remove {
    float: right;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    /* padding: 10px; */
    height: 20px;
    width: 40px;
    background-color: red;
    color: white;
    cursor: pointer;
}

input#task-add-field {
    width: inherit;
    background-color: inherit;
    border-style: ridge;
    padding: 10px;
    /* margin: 5px 0; */
    line-height: inherit;
}

#task-list-box{
    
}

.task {
    /* padding: 10px; */
    height: 40px;
    margin: 5px 0;
    border-style: dashed;
    border-width: 1px;
    border-color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
}


#content-wrapper {
    width: 60%;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}


/*
* Login
*/


#signin {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    /* height: 200px; */
    /* min-width: 320px; */
    /* min-height: 180px; */
    /* max-height: 400px; */
    max-width: 500px;
    text-align: center;
    text-align: -moz-center;
    background-color: #eee;
}

#signin-body {
    background-color: #5359FF;
}

#signin h4 {
    padding: 20px;
    margin: auto;
}

.signin-button {
    margin-top: 1em;
}