body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    height: 10%;
    background-color: #5359FF;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
}


#content-wrapper {
    width: 60%;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}

#signin {
    margin-top: 100px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    text-align: -moz-center;
}

#task-list-box{
    
}

.task {
    /* padding: 10px; */
    height: 40px;
    margin: 5px 0;
    border-style: dashed;
    border-width: 1px;
    border-color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
}

span.task-text {
    padding: 10px;
    cursor: pointer;
}

span.task-remove {
    float: right;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    /* padding: 10px; */
    height: 20px;
    width: 40px;
    background-color: red;
    color: white;
    cursor: pointer;
}

input#task-add-field {
    width: inherit;
    background-color: inherit;
    border-style: ridge;
    padding: 10px;
    /* margin: 5px 0; */
    line-height: inherit;
}

/** {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    
}

#signin {
    border: 1px solid red;
    text-align: center;
    width: 100%;
    height: 50%;
}

header {
    width: 100%;
    height: 10%;
    background-color: #6633ff;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
}

form {
    margin-top: 15%;
    text-align: center;
    border: 1px solid black;
    width: 30%;
    height: 40%;
    position: fixed;
}

form input {
    display: inline-block;
    width: 50%;

}*/